{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load static %}
{% load socialaccount %}
{% block custom_css %}
    <link href="{% static 'app/login_user.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6"> <!-- Responsive column width -->
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                            </div>

                            <!-- Google Login Button -->
                            <div class="d-flex justify-content-between mt-4">
                                <a href="{% provider_login_url 'google' %}" class="btn-google d-flex align-items-center justify-content-center">
                                    <img src="{% static 'app/google-logo.png' %}" alt="Google Logo" class="google-icon me-2">
                                    <span>Login with Google</span>
                                </a>
                            </div>

                            <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-success">Login</button>
                                <a href="/register" class="btn btn-primary">Register</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
