{% extends "base.html" %}

{% load static %}

{% block title %}Submit Review{% endblock %}

{% block custom_css %}
    <link href="{% static 'review/review_form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="review-form">
            <h2 class="mb-4">Submit a Review</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Render ReviewForm fields -->
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </div>
{% endblock %}
