{% extends 'base.html' %}
{% load static %}

{% block title %}Select League{% endblock %}

{% block custom_css %}
    <link href="{% static 'league/get_league.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Form Container -->
        <div class="form-container">
            <h1 class="text-center">Select a Country to View League</h1>
            <!-- Form for selecting country -->
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center flex-wrap">
                    {% for country, flag_url in countries_dict.items %}
                        <button type="submit" name="country" value="{{ country }}" class="btn btn-primary btn-country">
                            <img src="{{ flag_url }}" alt="{{ country }} Flag"> {{ country }}
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <!-- Home Button at the bottom -->
    <div class="home-button-container">
        <a href="/" class="btn-home">Home</a>
        <a href="/league/create" class="btn-home">Create League</a>
    </div>
{% endblock %}
