body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #495057;
    margin-bottom: 20px;
}

.btn-country {
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-country img {
    width: 30px;
    margin-right: 10px;
}

.btn-country:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-country:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.form-label {
    font-weight: bold;
}

.btn-home {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.btn-home:hover {
    background-color: #0056b3;
}

/* Ensure the button is centered at the bottom */
.home-button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-country {
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 1 1 180px; /* Allow buttons to grow and shrink, but set a minimum width */
    min-width: 180px; /* Set a minimum width to avoid shrinking too much */
}
